@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<meta charset="utf-8">

<head>
</head>

<body>
    <h5 class="title-bg">
        Author
        <small>Statistics</small>
    </h5>
    <div>
       
            <br/>
        <canvas id="pie-chart" width="500" height="260"></canvas>
    </div>

    <div>
        <h5 class="title-bg">
            Last Year Posts
            <small>Statistics</small>
        </h5>
        <svg id="bar-chart" width="600" height="260"></svg>
    </div>

    <script src="https://d3js.org/d3.v4.js"></script>

    <script>
        $(document).ready(function () {
            var canvas = document.querySelector("canvas"),
                 context = canvas.getContext("2d");

            var width = canvas.width,
                height = canvas.height,
                radius = Math.min(width, height) / 2;

            var colors = ["#053373", "#477216", "#fecc1b", "#fb290f", "#e671e8", "#71e8e8", "#ff8c00"];

            var arc = d3.arc()
                .outerRadius(radius - 10)
                .innerRadius(0)
                .context(context);

            var labelArc = d3.arc()
                .outerRadius(radius - 40)
                .innerRadius(radius - 40)
                .context(context);

            var pie = d3.pie()
                .sort(null)
                .value(function (d) { return d.Evidences; });

            context.translate(width / 2, height / 2);


            d3.json("/Manage/EvidenceStatistics?publisher=True", function (error, data) {
                if (error) throw error;

                var arcs = pie(data);

                arcs.forEach(function (d, i) {
                    context.beginPath();
                    arc(d);
                    context.fillStyle = colors[i];
                    context.fill();
                });

                context.beginPath();
                arcs.forEach(arc);
                context.strokeStyle = "#fff";
                context.stroke();

                context.textAlign = "center";
                context.textBaseline = "middle";
                context.fillStyle = "#fff";
                context.font = 'bold 12px Arial';
                arcs.forEach(function (d) {
                    var c = labelArc.centroid(d);
                    context.fillText(d.data.Name + " - " + d.data.Evidences, c[0], c[1]);
                });
            });
            

            var svg = d3.select("svg"),
                margin = { top: 20, right: 20, bottom: 30, left: 40 },
                width = +svg.attr("width") - margin.left - margin.right,
                height = +svg.attr("height") - margin.top - margin.bottom;

            var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
                y = d3.scaleLinear().rangeRound([height, 0]);

            var g = svg.append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            d3.json("/Manage/EvidenceStatistics?dates=True", function (error, data) {
                if (error) throw error;

                x.domain(data.map(function (d) { return d.Date; }));
                y.domain([0, d3.max(data, function (d) { return d.Count; })]);

                g.append("g")
                    .attr("class", "axis axis--x")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x));

                g.append("g")
                    .attr("class", "axis axis--y")
                    .call(d3.axisLeft(y).ticks(10))
                    .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 6)
                    .attr("dy", "0.71em")
                    .attr("text-anchor", "end")

                g.selectAll(".bar")
                    .data(data)
                    .enter().append("rect")
                    .style("fill", "steelblue")
                    .attr("class", "bar")
                    .attr("x", function (d) { return x(d.Date); })
                    .attr("y", function (d) { return y(d.Count); })
                    .attr("width", x.bandwidth())
                    .attr("height", function (d) { return height - y(d.Count); });
            });

        });


        /*
var margin = {top: 20, right: 20, bottom: 70, left: 40},
    width = 600 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

// Parse the date / time
var	parseDate = d3.time.format("%Y-%m").parse;

var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

var y = d3.scale.linear().range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(d3.time.format("%Y-%m"));

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10);

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

d3.csv("bar-data.csv", function(error, data) {

    data.forEach(function(d) {
        d.date = parseDate(d.date);
        d.value = +d.value;
    });

  x.domain(data.map(function(d) { return d.date; }));
  y.domain([0, d3.max(data, function(d) { return d.value; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .selectAll("text")
      .style("text-anchor", "end")
      .attr("dx", "-.8em")
      .attr("dy", "-.55em")
      .attr("transform", "rotate(-90)" );

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Value ($)");

  svg.selectAll("bar")
      .data(data)
    .enter().append("rect")
      .style("fill", "steelblue")
      .attr("x", function(d) { return x(d.date); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.value); })
      .attr("height", function(d) { return height - y(d.value); });

});
        */
    </script>

</body>